#root {
    width: 1920px;
    height: 1080px;
    background-image: url(house_test.jpg);
}

.bracket-container.first {
    position: absolute;
    /*top: 1000px;
    left: 1200px;*/
    /*transform: rotate(4deg);*/
}

.bracket-container {
    position: relative;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    background-color: black;
}

/* Bracket 90 Degrees Bottom Right */
.bracket-ninety-br>.connection-one {
    position: absolute;
    top: 0;
    left: -150px;
    width: 150px;
    height: 75px;
    background-color: lightgreen;
}

.bracket-ninety-br>.connection-two {
    position: absolute;
    top: -150px;
    left: 0;
    width: 75px;
    height: 150px;
    background-color: lightgreen;
}

/* Bracket 90 Degrees Bottom Left */
.bracket-ninety-bl>.connection-one {
    position: absolute;
    top: -150px;
    left: 0;
    width: 75px;
    height: 150px;
    background-color: lightgreen;
}

.bracket-ninety-bl>.connection-two {
    position: absolute;
    top: 0;
    left: 75px;
    width: 150px;
    height: 75px;
    background-color: lightgreen;
}

/* Bracket 90 Degrees Top Right */
.bracket-ninety-tr>.connection-one {
    position: absolute;
    top: 0;
    left: -150px;
    width: 150px;
    height: 75px;
    background-color: lightgreen;
}

.bracket-ninety-tr>.connection-two {
    position: absolute;
    top: 75px;
    left: 0;
    width: 75px;
    height: 150px;
    background-color: lightgreen;
}

/* Bracket 90 Degrees Top Left */
.bracket-ninety-tl>.connection-one {
    position: absolute;
    top: 75px;
    left: 0;
    width: 75px;
    height: 150px;
    background-color: lightgreen;
}

.bracket-ninety-tl>.connection-two {
    position: absolute;
    top: 0;
    left: 75px;
    width: 150px;
    height: 75px;
    background-color: lightgreen;
}

/* Bracket 180 Degrees Horizontal */
.bracket-oneeighty-horizontal>.connection-one {
    position: absolute;
    top: 0;
    left: -150px;
    width: 150px;
    height: 75px;
    background-color: lightgreen;
}

.bracket-oneeighty-horizontal>.connection-two {
    position: absolute;
    top: 0;
    left: 75px;
    width: 150px;
    height: 75px;
    background-color: lightgreen;
}

/* Bracket 180 Degrees Vertical */
.bracket-oneeighty-vertical>.connection-one {
    position: absolute;
    top: -150px;
    left: 0;
    width: 75px;
    height: 150px;
    background-color: lightgreen;
}

.bracket-oneeighty-vertical>.connection-two {
    position: absolute;
    top: 75px;
    left: 0;
    width: 75px;
    height: 150px;
    background-color: lightgreen;
}

.timber-container {
    position: relative;
    top: 0;
    left: 0;
    background-color: saddlebrown;
}

.timber-horizontal {
    width: 150px;
    height: 75px;
}

.timber-vertical {
    width: 75px;
    height: 150px;
}

/*.timber-angled {
    width: 75px;
    height: 150px;
}*/

/* Timber Horizontal */
.timber-horizontal>.connection-one {
    position: absolute;
    top: 0;
    left: -75px;
    width: 75px;
    height: 75px;
    background-color: lightgreen;
}

.timber-horizontal>.connection-two {
    position: absolute;
    top: 0;
    left: 150px;
    width: 75px;
    height: 75px;
    background-color: lightgreen;
}

/* Timber Vertical */
.timber-vertical>.connection-one {
    position: absolute;
    top: -75px;
    left: 0;
    width: 75px;
    height: 75px;
    background-color: lightgreen;
}

.timber-vertical>.connection-two {
    position: absolute;
    top: 150px;
    left: 0;
    width: 75px;
    height: 75px;
    background-color: lightgreen;
}

/* Menu Styling */
#menu h1 {
    text-align: center;
}

/* Toolbar Styling */
#subToolbar {
    top: 44px;
}
#bracketTools, #timberTools {
    display: inline-block;
}
#timberTools {
    display: none;
}
.sub-toolbar-drop select {
    margin: 6px 0 0 0;
}
.sub-toolbar-spacer {
    margin: 0 10px;
    color: lightgray;
}
#timberLengthValue {
    margin-left: 5px;
}
.hidden-orientations {
    display: none;
}
/* END Toolbar Styling */

/* Dialog Styling */
#bracketDialog h2, #timberDialog h2 {
    text-align: center;
}

#bracketDialog .button-container, #timberDialog .button-container {
    text-align: center;
    margin: 10px 0;
}

.dialog-row {
    padding: 10px 25px;
}

.dialog-row label {
    margin-right: 15px;
}

#bracketDialog #bracketOrientation select {
    font-size: 28px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    #saveButton span, #redoButton span, #undoButton span {
        display: none;
    }
}
