#root {
    width: 1920px;
    height: 1080px;
    background-image: url(house_test.jpg);
    background-repeat: no-repeat;
}

/* Bracket Styling */
[data-type="bracket"] {
    visibility: visible;
    position: relative;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    background-color: black;
    outline: 2px solid rgb(53, 53, 53);
}

/* Bracket 90 Degrees Bottom Right */
[data-type="bracket"][data-degree="ninety"][data-orientation="br"]
    > [data-type="connection"][data-connection="one"] {
    position: absolute;
    top: 0;
    left: -150px;
    width: 150px;
    height: 75px;
}

[data-type="bracket"][data-degree="ninety"][data-orientation="br"]
    > [data-type="connection"][data-connection="two"] {
    position: absolute;
    top: -150px;
    left: 0;
    width: 75px;
    height: 150px;
}

[data-type="bracket"][data-degree="ninety"][data-orientation="br"]
    > [data-type="connection"][data-connection="three"] {
    position: absolute;
    top: -37.5px;
    left: -37.5px;
    width: 75px;
    height: 75px;
}

/* Bracket 90 Degrees Bottom Left */
[data-type="bracket"][data-degree="ninety"][data-orientation="bl"]
    > [data-type="connection"][data-connection="one"] {
    position: absolute;
    top: -150px;
    left: 0;
    width: 75px;
    height: 150px;
}

[data-type="bracket"][data-degree="ninety"][data-orientation="bl"]
    > [data-type="connection"][data-connection="two"] {
    position: absolute;
    top: 0;
    left: 75px;
    width: 150px;
    height: 75px;
}

[data-type="bracket"][data-degree="ninety"][data-orientation="bl"]
    > [data-type="connection"][data-connection="three"] {
    position: absolute;
    top: -37.5px;
    left: -37.5px;
    width: 75px;
    height: 75px;
}

/* Bracket 90 Degrees Top Right */
[data-type="bracket"][data-degree="ninety"][data-orientation="tr"]
    > [data-type="connection"][data-connection="one"] {
    position: absolute;
    top: 0;
    left: -150px;
    width: 150px;
    height: 75px;
}

[data-type="bracket"][data-degree="ninety"][data-orientation="tr"]
    > [data-type="connection"][data-connection="two"] {
    position: absolute;
    top: 75px;
    left: 0;
    width: 75px;
    height: 150px;
}

[data-type="bracket"][data-degree="ninety"][data-orientation="tr"]
    > [data-type="connection"][data-connection="three"] {
    position: absolute;
    top: -37.5px;
    left: -37.5px;
    width: 75px;
    height: 75px;
}

/* Bracket 90 Degrees Top Left */
[data-type="bracket"][data-degree="ninety"][data-orientation="tl"]
    > [data-type="connection"][data-connection="one"] {
    position: absolute;
    top: 75px;
    left: 0;
    width: 75px;
    height: 150px;
}

[data-type="bracket"][data-degree="ninety"][data-orientation="tl"]
    > [data-type="connection"][data-connection="two"] {
    position: absolute;
    top: 0;
    left: 75px;
    width: 150px;
    height: 75px;
}

[data-type="bracket"][data-degree="ninety"][data-orientation="tl"]
    > [data-type="connection"][data-connection="three"] {
    position: absolute;
    top: -37.5px;
    left: -37.5px;
    width: 75px;
    height: 75px;
}

/* Bracket 180 Degrees Horizontal */
[data-type="bracket"][data-degree="oneeighty"][data-orientation="horizontal"]
    > [data-type="connection"][data-connection="one"] {
    position: absolute;
    top: 0;
    left: -150px;
    width: 150px;
    height: 75px;
}

[data-type="bracket"][data-degree="oneeighty"][data-orientation="horizontal"]
    > [data-type="connection"][data-connection="two"] {
    position: absolute;
    top: 0;
    left: 75px;
    width: 150px;
    height: 75px;
}

[data-type="bracket"][data-degree="oneeighty"][data-orientation="horizontal"]
    > [data-type="connection"][data-connection="three"] {
    position: absolute;
    top: -37.5px;
    left: -37.5px;
    width: 75px;
    height: 75px;
}

/* Bracket 180 Degrees Vertical */
[data-type="bracket"][data-degree="oneeighty"][data-orientation="vertical"]
    > [data-type="connection"][data-connection="one"] {
    position: absolute;
    top: -150px;
    left: 0;
    width: 75px;
    height: 150px;
}

[data-type="bracket"][data-degree="oneeighty"][data-orientation="vertical"]
    > [data-type="connection"][data-connection="two"] {
    position: absolute;
    top: 75px;
    left: 0;
    width: 75px;
    height: 150px;
}

[data-type="bracket"][data-degree="oneeighty"][data-orientation="vertical"]
    > [data-type="connection"][data-connection="three"] {
    position: absolute;
    top: -37.5px;
    left: -37.5px;
    width: 75px;
    height: 75px;
}
/* END Bracket Styling */

/* Timber Styling */
[data-type="timber"] {
    visibility: visible;
    position: relative;
    top: 0;
    left: 0;
    background-color: saddlebrown;
    outline: 2px solid rgb(97, 48, 13);
}

[data-type="timber"][data-orientation="horizontal"] {
    width: 150px;
    height: 75px;
}

[data-type="timber"][data-orientation="vertical"] {
    width: 75px;
    height: 150px;
}

/*.timber-angled {
    width: 75px;
    height: 150px;
}*/

/* Timber Horizontal */
[data-type="timber"][data-orientation="horizontal"]
    > [data-type="connection"][data-connection="one"] {
    position: absolute;
    top: 0;
    left: -75px;
    width: 75px;
    height: 75px;
}

[data-type="timber"][data-orientation="horizontal"]
    > [data-type="connection"][data-connection="two"] {
    position: absolute;
    top: 0;
    left: 150px;
    width: 75px;
    height: 75px;
}

/* Timber Vertical */
[data-type="timber"][data-orientation="vertical"]
    > [data-type="connection"][data-connection="one"] {
    position: absolute;
    top: -75px;
    left: 0;
    width: 75px;
    height: 75px;
}

[data-type="timber"][data-orientation="vertical"]
    > [data-type="connection"][data-connection="two"] {
    position: absolute;
    top: 150px;
    left: 0;
    width: 75px;
    height: 75px;
}
/* END Timber Styling */

/* Connection Styling */

[data-type="connection"][data-connection="one"],
[data-type="connection"][data-connection="two"] {
    background-color: lightgreen;
    outline: 2px solid rgb(59, 170, 59);
}

[data-type="connection"][data-connection="three"] {
    background-color: orange;
    outline: 2px solid rgb(202, 134, 7);
}

[data-type="bracket"]
    > [data-type="connection"][data-connection="three"] {
    z-index: 1;
}

[data-type="connection"][data-empty="false"] {
    visibility: hidden;
}

/* END Connection Styling */

/* Menu Styling */
#menu h1 {
    text-align: center;
}

/* Toolbar Styling */
#subToolbar {
    top: 44px;
}
#bracketTools, #timberTools {
    display: inline-block;
}
#timberTools {
    display: none;
}
.sub-toolbar-drop select {
    margin: 6px 0 0 0;
}
.sub-toolbar-spacer {
    margin: 0 10px;
    color: lightgray;
}
#timberLengthValue {
    margin-left: 5px;
}
.hidden-orientations {
    display: none;
}
/* END Toolbar Styling */

/* Dialog Styling */
#bracketDialog h2, #timberDialog h2 {
    text-align: center;
}

#bracketDialog .button-container, #timberDialog .button-container {
    text-align: center;
    margin: 10px 0;
}

.dialog-row {
    padding: 10px 25px;
}

.dialog-row label {
    margin-right: 15px;
}

#bracketDialog #bracketOrientation select {
    font-size: 28px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    #saveButton span, #redoButton span, #undoButton span {
        display: none;
    }
}
